.storybook-button {
  display: inline-block;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  border: 0;
  border-radius: 0.375em;
  cursor: pointer;

  // Variants
  &--default {
    background-color: #e0e0e0;
    color: black;
  }
  &--primary {
    background-color: #0052cc;
    color: white;
  }
  &--subtle {
    background-color: transparent;
    color: black;
  }
  &--warning {
    background-color: #ffab00;
    color: black;
  }
  &--danger {
    background-color: #d32f2f;
    color: white;
  }
  &--discovery {
    background-color: #6554c0;
    color: white;
  }

  // Sizes
  &--small {
    font-size: 12px;
    padding: 10px 16px;
  }
  &--medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  &--large {
    font-size: 16px;
    padding: 12px 24px;
  }
}
